.header {
  width: 100%;
  min-height: 80rem;
  background: url(../images/desktop/image-header.jpg) repeat 0 0;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.img--arrow-down {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
