// font-family: 'Barlow', sans-serif; 600
// font-family: 'Fraunces', serif; 700, 900
html {
  font-size: 62.5%;

  // width < 900px
  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px; 9/16 = 56.25%;
  }
  // width < 600px
  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px; 8/16 = 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px; 12/16 = 75%;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 1.8rem;
  min-height: 80vh;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
